*{
margin: 0;
padding: 0;
}

.texto-titulo-cd{
font: normal 12px Arial, Tahoma, sans-serif;
background: transparent;
color: #df0000;
}

.texto-titulo-blanco{
font: bolder 25px Arial, Tahoma, sans-serif;
background: transparent;
color: #fff;
}

.texto-titulo1{
background: transparent;
color: #454545;
line-height: 17px;
margin: 15px 0 15px 0;
font: bolder 1.0em Arial, Verdana, sans-serif;
}

.texto-titulo1 a,
.texto-titulo1 a:visited,
.texto-titulo1 a:hover{
background: transparent;
color: #454545;
text-decoration: none;
cursor: text;
}

.texto-titulo2{
background: transparent;
color: #454545;
line-height: 17px;
margin: 15px 0 15px 0;
font: bolder 0.95em Arial, Verdana, sans-serif;
}

.texto-titulo2 a,
.texto-titulo2 a:visited,
.texto-titulo2 a:hover{
background: transparent;
color: #454545;
text-decoration: none;
cursor: text;
}

.texto-titulo3{
display: block;
font: bolder 12px Arial, Tahoma, sans-serif;
background: transparent;
color: #ccc;
text-align: left;
text-shadow: 0px 0px 4px #000;
}

.texto-titulo3 a,
.texto-titulo3 a:visited{
background: transparent;
color: #fff;
text-decoration: none;
font-weight: bolder;
}

.texto-titulo3 a:hover{
text-decoration: underline;
}

.texto-titulo4{
display: block;
font: bolder 14px Arial, Tahoma, sans-serif;
background: transparent;
color: #454545;
}

.texto-titulo5{
font: bolder 12px Arial, Verdana, sans-serif;
background: transparent;
color: #454545;
}

.texto-titulo5 a,
.texto-titulo5 a:visited,
.texto-titulo5 a:hover{
background: transparent;
color: #454545;
text-decoration: none;
cursor: text;
}

.texto-titulo6{
font: normal 0.70em Arial, Verdana, sans-serif;
margin: 0 0 0 0;
background: transparent;
color: #666;
}

.texto-titulo6 a,
.texto-titulo6 a:visited,
.texto-titulo6 a:hover{
background: transparent;
color: #666;
text-decoration: none;
cursor: text;
}

.texto-titulo-gris{
font: normal 110% Arial, Tahoma, sans-serif;
background: transparent;
color: #666;
text-align: left;
}

.texto-titulo-blancooscuro{
font: normal 110% Arial, Tahoma, sans-serif;
background: transparent;
color: #fff;
}

.texto-titulo-blancooscuro a,
.texto-titulo-blancooscuro a:visited,
.texto-titulo-blancooscuro a:hover{
background: transparent;
color: #fff;
text-decoration: none;
}

.texto-titulo-negro{
font: bolder 1em Arial, sans-serif, Tahoma;
background: transparent;
color: #454545;
text-align: left;
}

.texto-subtitulo-claro{
font: normal 70% Arial, Tahoma, sans-serif;
background: transparent;
color: #eee;
margin: 0 0 15px 0;
text-decoration: none;
}

.texto-subtitulo-claro a,
.texto-subtitulo-claro a:visited,
.texto-subtitulo-claro a:hover{
background: transparent;
color: #eee;
text-decoration: none;
}

.texto-subtitulo-rojo{
font: normal 70% Arial, Tahoma, sans-serif;
background: transparent;
color: #df0000;
text-align: left;
margin: 0 0 15px 0;
}

.texto-pie-titulo1{
font: bolder 90% Arial, Tahoma, sans-serif;
background: transparent;
color: #454545;
text-align: left;
margin: 0 0 15px 0;
}

.texto-descripcion1{
font: normal 12px Arial, Helvetica, sans-serif;
background: transparent;
color: #333;
text-align: left;
}

.texto-descripcion2{
font: normal 12px Arial, Verdana, sans-serif;
background: transparent;
color: #333;
text-align: left;
line-height: 20px;
}

.texto-descripcion3{
font: normal 12px Arial, Verdana, sans-serif;
background: transparent;
color: #666;
text-align: left;
}

.texto-descripcion4{
font: italic 11px Arial, Verdana, sans-serif;
background: transparent;
color: #666;
}

.texto-descripcion4 a,
.texto-descripcion4 a:visited{
background: transparent;
color: #BD0000;
text-decoration: none;
font-weight: bolder;
}

.texto-descripcion4 a:hover{
text-decoration: underline;
}

.texto-descripcion5{
font: normal 0.8em Arial, Verdana, sans-serif;
background: transparent;
color: #454545;
line-height: 0.9em;
}


/*---------------------------------------------------------------------------------------------------------------*/
/* TEXTO TITULOS
/*---------------------------------------------------------------------------------------------------------------*/
.texto-titulos1{
font: bolder 1em Arial, Tahoma, sans-serif;
line-height: 17px;
}

.texto-titulos1 a,
.texto-titulos1 a:visited,
.texto-titulos1 a:hover{
text-decoration: none;
cursor: text;
}

.texto-titulos2{
font: bolder 0.9em Arial, Tahoma, sans-serif;
}

.texto-titulos2 a,
.texto-titulos2 a:visited,
.texto-titulos2 a:hover{
text-decoration: none;
cursor: text;
}

.texto-subtitulos2{
font: normal 0.7em Arial, Tahoma, sans-serif;
}

.texto-subtitulos2 a,
.texto-subtitulos2 a:visited,
.texto-subtitulos2 a:hover{
background: transparent;
color: #eee;
text-decoration: none;
cursor: text;
}

.texto-titulos3{
font: bolder 0.8em Arial, Tahoma, sans-serif;
letter-spacing: -0.04em;
}

.texto-titulos3 a,
.texto-titulos3 a:visited,
.texto-titulos3 a:hover{
text-decoration: none;
cursor: text;
}

.texto-subtitulos3{
font: normal 0.7em Arial, Tahoma, sans-serif;
}

.texto-subtitulos3 a,
.texto-subtitulos3 a:visited,
.texto-subtitulos3 a:hover{
background: transparent;
color: #eee;
text-decoration: none;
cursor: text;
}


/*---------------------------------------------------------------------------------------------------------------*/
/* TEXTO DESCRIPCIONES
/*---------------------------------------------------------------------------------------------------------------*/
.texto-descripciones{
font: normal 0.80em Arial, Tahoma, sans-serif;
line-height: 1em;
}

.texto-descripciones a,
.texto-descripciones a:visited{
background: transparent;
color: #BD0000;
text-decoration: none;
}

.texto-descripciones a:hover{
text-decoration: underline;
}

.texto-descripciones1{
font: normal 0.70em Arial, Tahoma, sans-serif;
}

.texto-descripciones1 a,
.texto-descripciones1 a:visited{
background: transparent;
color: #BD0000;
text-decoration: none;
}

.texto-descripciones1 a:hover{
text-decoration: underline;
}


.texto-descripciones2{
font: italic 1em Arial, Tahoma, sans-serif;
}

.texto-descripciones2 a,
.texto-descripciones2 a:visited{
background: transparent;
color: #BD0000;
text-decoration: none;
}

.texto-descripciones2 a:hover{
text-decoration: underline;
}

.texto-descripciones3{
font: italic 0.75em Arial, Tahoma, sans-serif;
}

.texto-descripciones3 a,
.texto-descripciones3 a:visited{
background: transparent;
color: #BD0000;
text-decoration: none;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* TEXTO COLORES
/*---------------------------------------------------------------------------------------------------------------*/
.texto-col-000{
background: transparent;
color: #000;
}
.texto-col-454545{
background: transparent;
color: #454545;
}
.texto-col-333{
background: transparent;
color: #333;
}
.texto-col-666{
background: transparent;
color: #666;
}

.texto-col-ccc{
background: transparent;
color: #ccc;
}
.texto-col-eee{
background: transparent;
color: #eee;
}
.texto-col-f2f2f2{
background: transparent;
color: #f2f2f2;
}
.texto-col-fff{
background: transparent;
color: #fff;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* TEXTO COLORES ESPECIALES
/*---------------------------------------------------------------------------------------------------------------*/
.texto-col-rojo{
background: transparent;
color: #bd0000;
}

.texto-col-celeste{
background: transparent;
color: #006699;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* TEXTO VARIOS
/*---------------------------------------------------------------------------------------------------------------*/
.negrita{
font-weight: bolder;
}

.cursiva{
font-style: italic;
}
/*---------------------------------------------------------------------------------------------------------------*/
/* TEXTO ALINEADOS
/*---------------------------------------------------------------------------------------------------------------*/
.izquierda{
text-align: left;
}
.derecha{
text-align: right;
}
.centrado{
text-align: center;
}
.justificado{
text-align: justify;
}


/*---------------------------------------------------------------------------------------------------------------*/
/* TEXTOS FOOTER */
/*---------------------------------------------------------------------------------------------------------------*/
.texto-pie-titulo1{
font: bolder 0.80em Arial, Tahoma, sans-serif;
background: transparent;
color: #0089C4;
margin: 0 0 15px 0;
text-decoration: underline;
}

.texto-pie-normal1{
font: normal 0.70em Arial, Tahoma, sans-serif;
background: transparent;
color: #6b6b6b;
text-align: left;
margin: 0 0 5px 0;
}

.texto-pie-destacado1{
background: transparent;
color: #666;
}

.texto-pie-destacado1 a,
.texto-pie-destacado1 a:visited{
background: transparent;
color: #8D8D8D;
text-decoration: underline;
}

.texto-pie-destacado1 a:hover{
background: transparent;
color: #eee;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* FONT FACE
/*---------------------------------------------------------------------------------------------------------------*/


@font-face {
font-family: 'ArimoBold';
src: url('../fuentes/Arimo-Bold-Latin-webfont.eot');
src: url('../fuentes/Arimo-Bold-Latin-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fuentes/Arimo-Bold-Latin-webfont.woff') format('woff'),
     url('../fuentes/Arimo-Bold-Latin-webfont.ttf') format('truetype'),
     url('../fuentes/Arimo-Bold-Latin-webfont.svg#ArimoBold') format('svg');
font-weight: normal;
font-style: normal;
}

h2.fontface-arimo-titulo{
margin: 0;
font: 1.4em 'ArimoBold', Arial, sans-serif;
color: #222222;
line-height: 1.5em;
text-shadow: 0px 1px 1px #ffffff;
}

h2.fontface-arimo-subtitulo{
margin: 0;
font: 1.2em 'ArimoBold', Arial, sans-serif;
color: #333333;
line-height: 1.3em;
text-shadow: 0px 1px 1px #ffffff;
}

h3.fontface-arimo-titulo{
margin: 0;
font: 1em 'ArimoBold', Arial, sans-serif;
color: #333333;
line-height: 1.1em;
text-shadow: 0px 1px 1px #ffffff;
}

p.fontface-arimo-parrafo{
margin: 0;
font: 1em 'ArimoBold', Arial, sans-serif;
color: #666666 ;
}

p.fontface-arimo-parrafo1{
margin: 0;
font: 0.8em 'ArimoBold', Arial, sans-serif;
color: #666666 ;
}

@font-face {
font-family: 'JosefinSansStdLight';
src: url('../fuentes/JosefinSansStd-Light-webfont.eot');
src: url('../fuentes/JosefinSansStd-Light-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fuentes/JosefinSansStd-Light-webfont.woff') format('woff'),
     url('../fuentes/JosefinSansStd-Light-webfont.ttf') format('truetype'),
     url('../fuentes/JosefinSansStd-Light-webfont.svg#JosefinSansStdLight') format('svg');
font-weight: normal;
font-style: normal;
}

h2.fontface-josefin{
font: 60px/68px 'JosefinSansStdLight', Arial, sans-serif;
letter-spacing: -1px;
}

h1.fontface-josefin{
background: transparent;
color: #454545;
font: 14px/18px 'JosefinSansStdLight', Arial, sans-serif;
letter-spacing: -1px;
text-shadow: 1px 1px 1px #ffffff;
}



