#login{
display: block;
width: 730px;
height: 230px;
margin: 70px 0 0 100px;
}

#login-leyenda,
#login-leyenda-olvidepass{
float: left;
display: block;
width: 290px;
padding: 240px 15px 0px 15px;
font-size:16px !important;
color:white;
border-radius:20px;
-o-border-radius:20px;
-ms-border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
text-shadow:1px 2px 1px black;
-o-text-shadow:1px 2px 1px black;
-ms-text-shadow:1px 2px 1px black;
-moz-text-shadow:1px 2px 1px black;
-webkit-text-shadow:1px 2px 1px black;
}
#login-leyenda-olvidepass{
padding: 180px 15px 0px 15px;
}

#login-access, #login-access-olvidepass, #login-access-lt, #login-access-rt{
float: left;
display: block;
}

#login-access,
#login-access-olvidepass{
background: url(../images/bg-login.png) 0 0 repeat;
width: 320px;
height: 320px;
padding: 0px;
border-left: dashed 1px #CCC;
border-radius:0px 20px 20px 0px;
-o-border-radius:0px 20px 20px 0px;
-ms-border-radius:0px 20px 20px 0px;
-moz-border-radius:0px 20px 20px 0px;
-webkit-border-radius:0px 20px 20px 0px;
}
#login-access-olvidepass{
border-left:none;
border-right: dashed 1px #CCC;
border-radius:20px 0px 0px 20px;
-o-border-radius:20px 0px 0px 20px;
-ms-border-radius:20px 0px 0px 20px;
-moz-border-radius:20px 0px 0px 20px;
-webkit-border-radius:20px 0px 0px 20px;
}

#login-access #login-access-lt,
#login-access-olvidepass #login-access-lt{
width: 270px;
padding:32px 22px 0 24px;
}

#login-access #login-access-rt,
#login-access-olvidepass #login-access-rt{
width: 146px;
height: 40px;
padding: 103px 0 7px 30px;
}

#login-access .login-access-wide,
#login-access-olvidepass .login-access-wide{
width: 100%;
margin: 0 0 18px 0;
}
#login-access .login-access-wide-rt,
#login-access-olvidepass .login-access-wide-rt{
width: 100%;
}
#login-access .login-label,
#login-access-olvidepass .login-label{
display: block;
font: normal 14px sans-serif, Arial, Helvetica;
background: transparent;
color: #ccc;
margin: 20px 0 0 0;
text-align: left;
text-shadow:1px 1px 1px black;
-o-text-shadow:1px 1px 1px black;
-ms-text-shadow:1px 1px 1px black;
-moz-text-shadow:1px 1px 1px black;
-webkit-text-shadow:1px 1px 1px black;
}

#login-access .login-input,
#login-access-olvidepass .login-input-olvidepass{
display: block;
font: normal 14px sans-serif, Arial, Helvetica;
color: #424242;
width: 246px;
height: 18px;
padding: 5px 10px 5px 10px;
border-radius: 0.5em;
-o-border-radius: 0.5em;
-ms-border-radius: 0.5em;
-moz-border-radius: 0.5em;
-webkit-border-radius: 0.5em;
border: solid 2px #CCC;
background-color:#FFF;
box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-o-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-ms-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-moz-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-webkit-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
margin: 10px 0 0 0;
behavior: url(../otros/PIE.htc);
}

#login-access .login-input:focus,
#login-access-olvidepass .login-input-olvidepass:focus{
box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-o-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-ms-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-moz-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-webkit-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
behavior: url(../otros/PIE.htc);
}

#login-access .login-select,
#login-access-olvidepass .login-select{
display: block;
font: normal 14px sans-serif, Arial, Helvetica;
background: #FFFFFF url(../images/bg-input-login.png) 0 0 no-repeat;
color: #666;
width: 150px;
height: 30px;
padding: 5px 10px 5px 10px;
border: 0;
margin: 10px 0 0 0;
border-radius: 0.1em;
-webkit-border-radius: 0.1em;
-moz-border-radius: 0.1em;
-o-border-radius: 0.1em;
-ms-border-radius: 0.1em;
box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-webkit-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-moz-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-o-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
-ms-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px, rgba(0,0,0,0.5) 1px 1px 10px;
behavior: url(../otros/PIE.htc);
}

#login-access .login-select:focus,
#login-access-olvidepass .login-select:focus{
box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-webkit-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-moz-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-o-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
-ms-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px, rgba(255,255,255,0.5) 1px 1px 10px;
behavior: url(../otros/PIE.htc);
}

#login-access .login-button,
#login-access .login-button:visited,
#login-access-olvidepass .login-button,
#login-access-olvidepass .login-button:visited{
display: block;
background: #00A3E5;
color: #ffffff;
border: 2px solid #FFF;
border-radius: 0.4em;
-o-border-radius: 0.4em;
-ms-border-radius: 0.4em;
-moz-border-radius: 0.4em;
-webkit-border-radius: 0.4em;
font-size: 16px;
text-align: center;
text-decoration:none;
padding: 3px 15px 3px 15px;
-o-box-shadow: 0px 0px 3px #000;
-ms-box-shadow: 0px 0px 3px #000;
-moz-box-shadow: 0px 0px 3px #000;
-webkit-box-shadow: 0px 0px 3px #000;
display: inline-block;
behavior: url(../otros/PIE.htc);
}
#login-access input.login-button,
#login-access a.login-button,
#login-access-olvidepass input.login-button,
#login-access-olvidepass a.login-button{
margin-left:0px!important;
margin-right:2px!important;
padding-left:0px!important;
padding-right:0px!important;
width:128px!important;
}
#login-access a.login-button,
#login-access-olvidepass a.login-button{
background: #999999!important;
margin-left:2px!important;
margin-right:0px!important;
}

#login-access .login-button:focus,
#login-access .login-button:hover,
#login-access-olvidepass .login-button:focus,
#login-access-olvidepass .login-button:hover{
box-shadow: 0px 0px 4px #FFFFFF;
-moz-box-shadow: 0px 0px 4px #FFFFFF;
-webkit-box-shadow: 0px 0px 4px #FFFFFF;
-o-box-shadow: 0px 0px 4px #FFFFFF;
-ms-box-shadow: 0px 0px 4px #FFFFFF;
behavior: url(../otros/PIE.htc);
}

#login-access .login-cancel,
#login-access .login-cancel:visited,
#login-access-olvidepass .login-cancel,
#login-access-olvidepass .login-cancel:visited{
display: block;
background: #343434;
color: #fff;
display: inline-block;
width: 110px;
border: 1px solid #8D8D8D;
font-size: 16px;
text-align: center;
padding: 5px 10px 5px 10px;
border-radius: 0.4em;
-webkit-border-radius: 0.4em;
-moz-border-radius: 0.4em;
-o-border-radius: 0.4em;
-ms-border-radius: 0.4em;
-moz-box-shadow: 0px 0px 3px #000;
-webkit-box-shadow: 0px 0px 3px #000;
-o-box-shadow: 0px 0px 3px #000;
-ms-box-shadow: 0px 0px 3px #000;
behavior: url(../otros/PIE.htc);
cursor: pointer;
text-decoration: none;
}

#login-access .login-cancel:focus,
#login-access .login-cancel:hover,
#login-access-olvidepass .login-cancel:focus,
#login-access-olvidepass .login-cancel:hover{
background: #8D8D8D;
color: #ffffff;
border: 1px solid  #343434;
box-shadow: 0px 0px 4px #8D8D8D;
-moz-box-shadow: 0px 0px 4px #8D8D8D;
-webkit-box-shadow: 0px 0px 4px #8D8D8D;
-o-box-shadow: 0px 0px 4px #8D8D8D;
-ms-box-shadow: 0px 0px 4px #8D8D8D;
behavior: url(../otros/PIE.htc);
}

#srv-resp{
height:48px;
overflow:hidden;
}

#login-access,
#login-access-olvidepass{
margin:0px 0px 10px 0px;
}

#fondoCandado,
#fondoCandado-olvidepass{
float:left;
background:url(../images/armario_candado.png) no-repeat left top;
}
#fondoCandado-olvidepass{
background:url(../images/armario_candado2.png) no-repeat right top;
}
.loginH2,
.loginH2-olvidepass{
float:left;
font-size:12px;
font-family:Lucida Sans;
font-weight:normal;
text-align:center;
padding:20px;
padding-bottom:10px;
margin:0px;
color:#F1F1F1;
border-bottom:none;
border-radius: 2em;
-o-border-radius: 3em;
-ms-border-radius: 3em;
-moz-border-radius: 3em;
-webkit-border-radius: 3em;
background-color:#A28E78;
background: rgba(0, 0, 0, 0.5);
text-shadow: 1px 1px 2px black;
-o-text-shadow: 1px 1px 2px black;
-ms-text-shadow: 1px 1px 2px black;
-moz-text-shadow: 1px 1px 2px black;
-webkit-text-shadow: 1px 1px 2px black;
}
.loginH2 H2,
.loginH2-olvidepass H2{
margin-bottom:16px;
}

#lnkOlvidePass,
#lnkOlvidePass-olvidepass{
font-size:0.85em;
}
#lnkOlvidePass,
#lnkOlvidePass *{
color:#00A3E5;
}
#lnkOlvidePass:hover{
color:#CCCCCC;
}
