#login{
display: block;
width: 730px;
height: 230px;
margin: 10px 0 0 100px;
}

#login-leyenda{
float: left;
display: block;
width: 260px;
height: 210px;
padding: 0 20px 0 20px;
background: transparent url(../images/img-login.jpg) bottom center no-repeat;
}

#login-access{
float: left;
display: block;
background: url(../images/bg-login.png) 0 0 repeat;
width: 390px;
height: 150px;
padding: 20px;
column-count: 2;  /* cantidad de columnas */
-webkit-column-count: 2;
-moz-column-count: 2;
-o-column-count: 2;
-ms-column-count: 2;
column-gap: 2em; /* espacio entre lineas */
-webkit-column-gap: 2em;
-moz-column-gap: 2em;
-o-column-gap: 2em;
-ms-column-gap: 2em;
column-rule: 1px dotted #eee; /* linea divisoria */
-webkit-column-rule: 1px dotted #eee;
-moz-column-rule: 1px dotted #eee;
-o-column-rule: 1px dotted #eee;
-ms-column-rule: 1px dotted #eee;
behavior: url(../otros/PIE.htc);
}

#login-access .login-label{
display: block;
font: normal 14px sans-serif, Arial, Helvetica;
background: transparent;
color: #ccc;
margin: 10px 0 0 0;
}

#login-access .login-input{
display: block;
font: normal 14px sans-serif, Arial, Helvetica;
background: #eee;
color: #666;
padding: 5px 10px;
border: 1px solid #fff;
margin: 10px 0 0 0;
border-radius: 0.2em;
-moz-border-radius: 0.2em;
-webkit-border-radius: 0.2em;
-o-border-radius: 0.2em;
-ms-border-radius: 0.2em;
box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,
            rgba(0,0,0,0.5) 1px 1px 10px;
-webkit-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,
                    rgba(0,0,0,0.5) 1px 1px 10px;
-moz-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,
                    rgba(0,0,0,0.5) 1px 1px 10px;
-o-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,
                    rgba(0,0,0,0.5) 1px 1px 10px;
-ms-box-shadow: rgba(0,0,0,0.5) 1px 1px 10px,
                    rgba(0,0,0,0.5) 1px 1px 10px;
-webkit-transition: -webkit-box-shadow 0.5s ease-out;
-moz-transition: -moz-box-shadow 0.5s ease-out;
-o-transition: box-shadow 0.5s ease-out;
behavior: url(../otros/PIE.htc);
}

#login-access .login-input:hover{
box-shadow: rgba(255,255,255,0.5) 1px 1px 10px,
            rgba(255,255,255,0.5) 1px 1px 10px;
-webkit-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px,
                    rgba(255,255,255,0.5) 1px 1px 10px;
-moz-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px
                    rgba(255,255,255,0.5) 1px 1px 10px;
-o-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px
                    rgba(255,255,255,0.5) 1px 1px 10px;
-ms-box-shadow: rgba(255,255,255,0.5) 1px 1px 10px
                    rgba(255,255,255,0.5) 1px 1px 10px;
behavior: url(../otros/PIE.htc);
}


#login-button,
#login-button:visited{
background: #00A3E5;
color: #fff;
display: block;
width: 60%;
border: 1px solid #0091CE;
font-size: 16px;
text-align: center;
padding: 0.3em;
margin: 4em auto;
border-radius: 0.2em;
-webkit-border-radius: 0.2em;
-moz-border-radius: 0.2em;
-o-border-radius: 0.2em;
-ms-border-radius: 0.2em;
-moz-box-shadow: 0px 0px 4px #000;
-webkit-box-shadow: 0px 0px 4px #000;
-o-box-shadow: 0px 0px 4px #000;
-ms-box-shadow: 0px 0px 4px #000;
-webkit-transition: -webkit-box-shadow 0.5s ease-out;
-moz-transition: -moz-box-shadow 0.5s ease-out;
-o-transition: box-shadow 0.5s ease-out;
behavior: url(../otros/PIE.htc);
}

#login-button:hover {
background: #00A3E5;
color: #ffffff;
border: 1px solid  #006591;
box-shadow: 0px 0px 4px #0099ff;
-moz-box-shadow: 0px 0px 4px #0099ff;
-webkit-box-shadow: 0px 0px 4px #0099ff;
-o-box-shadow: 0px 0px 4px #0099ff;
-ms-box-shadow: 0px 0px 4px #0099ff;
behavior: url(../otros/PIE.htc);
}

