.big-border-rounded{
border-radius: 1em 1em 1em 1em;
-webkit-border-radius: 1em 1em 1em 1em;
-moz-border-radius: 1em 1em 1em 1em;
-o-border-radius: 1em 1em 1em 1em;
-ms-border-radius: 1em 1em 1em 1em;
behavior: url(../otros/PIE.htc);
}

.small-border-rounded{
border-radius: 0.5em 0.5em 0.5em 0.5em;
-webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
-o-border-radius: 0.5em 0.5em 0.5em 0.5em;
-ms-border-radius: 0.5em 0.5em 0.5em 0.5em;
behavior: url(../otros/PIE.htc);
}

.big-shadow{
box-shadow: #000 2px 2px 20px;
-webkit-box-shadow: #000 2px 2px 20px;
-moz-box-shadow: #000 2px 2px 20px;
-o-box-shadow: #000 2px 2px 20px;
-ms-box-shadow: #000 2px 2px 20px;
box-shadow: #000 2px 2px 20px;
behavior: url(../otros/PIE.htc);
}

.small-shadow{
box-shadow: rgba(0,0,0,0.5) 2px 2px 1px ,
            rgba(0,0,0,0.5) 2px 2px 1px;
-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 1px ,
                    rgba(0,0,0,0.5) 2px 2px 1px;
-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 20px ,
                    rgba(0,0,0,0.5) 2px 2px 1px;
-o-box-shadow: rgba(0,0,0,0.5) 2px 2px 20px ,
                    rgba(0,0,0,0.5) 2px 2px 1px;
-ms-box-shadow: rgba(0,0,0,0.5) 2px 2px 20px ,
                    rgba(0,0,0,0.5) 2px 2px 1px;
box-shadow: #000 2px 2px 1px;
behavior: url(../otros/PIE.htc);
}

.flt-rt {
float: right;
margin: 0 0 0 20px;
}

.flt-lt {
float: left;
margin: 0 20px 0 0;
}

.clearfloat{
clear:both;
height:0;
font-size: 1px;
line-height: 0px;
}

.clearfloat10{
clear:both;
height:10px;
font-size: 1px;
line-height: 0px;
}

.clearfloat20{
clear:both;
height:20px;
font-size: 1px;
line-height: 0px;
}

.clearleft{
clear: left;
height:0;
font-size: 1px;
line-height: 0px;
}

.clearright{
clear: right;
height:0;
font-size: 1px;
line-height: 0px;
}