* {
  margin: 0;
  padding: 0;
}
body {
  font: normal 14px 'Open Sans', Tahoma, sans-serif;
  color: #333;
}
textarea {
    resize: none;
}
.btn-primary {
    background: #E36F35;
    border-color: #E36F35;
}
.btn-primary:hover {
    background: #ce632d;
    border-color: #ce632d;
}
.fondo {
    background: #E36F35;
    box-shadow: rgba(0, 0, 0, 0.7) 0 2px 4px;
    min-height: 250px;
    z-index: 1;
}
#wrap-content {
    margin-bottom: 3em;
    margin-top: -250px;
    z-index: 2;
}
.container {
    float: none!important;
}
.content {
    background: #FFFFFF;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
#header {
    padding: 0.7em;
}
header h1#logo {
    margin: 0;
    padding: 0;
}
header #logo a {
    display: block; 
    width: 290px; 
    height: 75px; 
    text-indent: -9999px; 
    background: url(../img/rosobe.png);
}
header ul.sociales {
    margin-top: 2em!important;
}
header a.facebook {
    background-position: 0 -84px;
}
header a.twitter {
    background-position: 0 -126px;
}
header a.flickr {
    background-position: 0 -210px;
}
.breadcrumb {
    background: none;
    color: #FFFFFF;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.breadcrumb label {
    font-size: 0.8em;
}
.breadcrumb h5, .breadcrumb a {
    color: #FFFFFF;
    text-decoration: none;
}
.breadcrumb h5 {
    font-size: 1.3em;
}
h3.titulo-section {
    color: #E36F35;
    font-size: 1.5em;
}
hr.titulo-section {
    margin-top: 0;
}
nav {
    margin: 0.5em 0 0 0;
    width: auto;
    margin-bottom: 0!important;
}
.nav-bar {
    background: #ededed;
}
nav ul li a {
    border: none;
    /*color: #E36F35;*/
    color: #46614d;
    font-size: 1em;
}
nav ul li a:active, nav ul li a:hover, nav ul li a:focus {
    background: none;
    border: none;
    outline: 0;
}
.lavalamp-object {
    top: -10px!important;
    border-bottom: 2px solid #E36F35;
}
.active .lavalamp-object {
    top: -10px!important;
    border-bottom: 2px solid #FFFFFF;
}
#nav-primary li:hover a {
    color: #E36F35!important;
    background: none;
}
#nav-primary li.active a {
    color: #E36F35!important;
}
#nav-primary li.active:hover a {
    color: #FFFFFF;
}
ul li span.badge {
  top: -5px!important;
  left: 70px!important;
  position: absolute;
  font-size: 0.7em;
}
ul#nav-primary li span.badge-important {
  background: #F59B26;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  rotate: 25deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.nav-panel li label.nav-header {
    /*color: #4b6e55;*/
    color: #E36F35;
}
.nav-panel li ul li a {
    color: #4b6e55;
}
#slider {
    border-radius: 15px;
    margin-bottom: 2em;
}
.footer {
    background: #E36F35;
}
.inicio-servicios > div > div {
    text-align: center;
}
.resumen {
    margin-bottom: 1em;
}
.resumen > div {
    min-height: 190px;   
}
.resumen > div > button {
    clear: both;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4em;
  width: auto;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  width: auto;
  margin: 0 0 0.7em 0;
  color: #f59b26;
}
footer h5, h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: auto;
  margin: 0 0 0.5em 0;
  color: #FFF;
}
h5 {
  color: #E36F35;
  font-weight: bold;
}
li {
  list-style: none;
}

.divider {
  border-right:1px solid #16222c; 
  width: 1px;
  height: 50px;
  margin: 0 0.8em;
}
footer {
  font-size: 0.9em;
  padding: 1.4em 1em;
}
.middle {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
footer, footer ul li a {
  color: #FFF;
  text-decoration: none;
}
ul.sociales {
  margin-top: 1em;
}
ul.sociales li {
  display: inline-block;
  list-style: none;
}
a.redes_sociales {
  background: url(../img/sociales.png) no-repeat;
  padding: 8px 16px;
  margin: 0.3em;
}
footer a.facebook {
  background-position: 0 0;
}
footer a.facebook:hover {
  background-position: 0 -84px;
}
footer a.twitter {
  background-position: 0 -42px;
}
footer a.twitter:hover {
  background-position: 0 -126px;
}
footer a.flickr {
  background-position: 0 -168px;
}
footer a.flickr:hover {
  background-position: 0 -210px;
}
.copyright {
    background: #393737;
    color: #FFF;
    font-size: 0.8em;
    padding: 0.9em 0;
    text-align: center;
}
/**
 * Inicio
 */

/**
 * Productos
 */
ul.productos {

}
ul.productos li {
    margin-bottom: 1em;
}
ul.productos li figure {
    /*box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 2px;*/
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    min-height: 210px;
    padding: 0.4em;
    text-align: center;
}
ul.productos li figure:hover {
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 5px;
}
ul.productos li figure a img {
    width: 100%;
}
ul.productos figure figcaption label {
    margin-top: 1em;
}
ul.productos figure figcaption label a {
    /*color: #f59b26;*/
    color: #46614d;
    font-size: 0.9em;
    text-decoration: none;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: 14px;
}
.ribbon-green {
  font: bold 12px 'Open Sans', sans-serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​
/**
 * Fin de Productos
 */
/**
 *  Detalle
 */
.detalle-imagen img {
    width: 100%;
}
.detalle .slider-wrapper {
    padding: 0.5em!important;
    border: 2px solid #efefef;
}
.detalle .nivoSlider img {
    max-height: 350px!important;
}
.detalle .nivo-thumbs-enabled {
    margin: 0;
    padding-top: 0.3em;
    text-align: left;
}
.detalle .nivo-thumbs-enabled a { 
    border: 1px #efefef solid;
    display: inline-block;
    list-style: none;
    padding: 0.2em;
    margin: 0.3em 0.3em 0 0;
}
.detalle .nivo-thumbs-enabled a img { 
    max-height: 60px;
}
.detalle-descripcion {
    color: #888;
}
#thumblist {
    margin-left: 0!important;
    padding-left: 0!important;
}
#thumblist li {
    border: 1px #efefef solid;
    display: inline-block;
    list-style: none;

    padding: 0.3em;
}
/**
 * Fin de Detalle
 */
.galeria img {
    width: 100%;
}
.galeria .galeria-thumbs {
    margin-top: 1em;
}
.galeria .galeria-thumbs img {
    margin: 0.5em;
    width: 150px;
}